<h1>Configurations</h1>
<form name="cfgForm" ng-controller="AdminConfigurationController">
<h2>server</h2> 
<label>Port</label> 
<input type="number" ng-model="config.app.port" ng-change="changed()" min="80" max="10000" required><br>
Release: {{config.app.release}}

<h2>email</h2> 
from: <input type="email" ng-model="config.email.from" ng-change="changed()"><br>
host: <input type="text" ng-model="config.email.host" ng-change="changed()"><br>
ssl: <input type="checkbox" ng-model="config.email.ssl" ng-change="changed()"><br>

<h2>mongodb</h2> 
Host: <input type="text" ng-model="config.mongodb.host" ng-change="changed()"><br>
Database: <input type="text" ng-model="config.mongodb.database" ng-change="changed()"><br>
Port: <input type="number" ng-model="config.mongodb.port" ng-change="changed()"><br>
</form>