<h1>Services</h1>


<table>
  <thead>
  <tr>
    <th>State</th>
    <th>Service</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="service in services | orderBy:'name'">
    <td>
    <a href="" ng-click="start(service)" ng-show="{{service.enable}}==false" title="Start service">Disabled</a>
    <a href="" ng-click="stop(service)" ng-show="{{service.enable}}==true" title="Stop service">Enabled</a>
    </td>
    <td>
    {{service.name}}
    <!--<a href="#/services/{{service.name}}">{{service.name}}</a>-->
    </td>
    <td>{{service.description}}</td>
    <td>
      <a href="#/services/{{service.name}}/edit">edit<i class="icon-pencil"></i></a>
    </td>
  </tr>
  </tbody>
</table>

<!--  
place: <input type="string" ng-model="place"></input><br/>
nCustomerID: <input type="string" ng-model="nCustomerID"></input><br/>
-->