extends layout

block header
   script(type='text/javascript', src='/javascripts/devices.edit.js')
   script(type='text/javascript')
    var uuid =!{JSON.stringify(uuid)}
   
block content
  form(id="showForm")
  div(id="res", class="alert")