<div id="login-form">
  <form class="login form-horizontal" action="/login" method="POST">
    <div class="control-group">
      <label class="control-label" for="user">Username</label>
      <div class="controls">
        <input id="username" type='user' name='user' value='admin'/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input id="password" type='password', name='password', value='admin'/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-info" type='submit', value='Log in'/>
      </div>
    </div>
  </form>
</div>