/* app css stylesheet */

#main {
    margin-top: 5em;
}

.gridStyle {
  border: 1px solid rgb(212,212,212);
  width: 800px; 
  height: 500px;
  color: #333333;
}
.gridServices {
  border: 1px solid rgb(212,212,212);
  width: 800px; 
  height: 200px;
  color: #333333;
}