extends layout

block header
   script(type='text/javascript', src='/javascripts/charts.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/binaryXHR.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFile.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdMultiFile.js')
   
   //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFlotSupport.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFlot.js')
   
   //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.selection.js')
   //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.tooltip.js')
   
   script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.js')
   script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.selection.js')
   script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.threshold.js')
   style
    .demo-container {
        box-sizing: border-box;
        width: 850px;
        height: 450px;
        padding: 20px 15px 15px 15px;
        margin: 15px auto 30px auto;
        border: 1px solid #ddd;
        background: #fff;
        background: linear-gradient(#f6f6f6 0, #fff 50px);
        background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
        background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
        box-shadow: 0 3px 10px rgba(0,0,0,0.15);
        -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }
    .demo-placeholder {
        width: 100%;
        height: 100%;
        font-size: 14px;
        line-height: 14px;
    }
   
block content
  h1="Charts summary"
  
  div(class="demo-container")
   div(id="chart", class="demo-placeholder")
  div#debug