extends layout

block header
   script(type='text/javascript', src='/javascripts/devices.show.js')
   script(type='text/javascript')
    var uuid =!{JSON.stringify(uuid)}
   
block content
  
  div(id="show")
  a(href='/devices/'+uuid+'/edit')='edit'