doctype 5
html
  head
    title="home.js"
    
    
    link(rel='stylesheet', href='/javascripts/vendor/w2ui/1.2/w2ui-1.2.min.css')
    script(type='text/javascript', src='/javascripts/vendor/jquery/1.9.1/jquery-1.9.1.min.js')
    script(type='text/javascript', src='/javascripts/vendor/w2ui/1.2/w2ui-1.2.min.js')
    
    script(type='text/javascript', src='/javascripts/api.js')
    script(type='text/javascript', src='/javascripts/layout.js')
    
    script(type='text/javascript', src='/javascripts/vendor/moment/moment.min.js')
    
    
    //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/binaryXHR.js')
    //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFile.js')
    //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdMultiFile.js')

    //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFlotSupport.js')
    //script(type='text/javascript', src='/javascripts/vendor/rrd/lib/rrdFlot.js')

    //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.js')
    //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.selection.js')
    //script(type='text/javascript', src='/javascripts/vendor/rrd/flot/jquery.flot.tooltip.js')

    script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.min.js')
    script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.selection.min.js')
    script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.threshold.min.js')
    script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.time.min.js')
    script(type='text/javascript', src='/javascripts/vendor/flot/jquery.flot.resize.min.js')

    
    -if (typeof(session) !== 'undefined' )
      -if(session!=undefined)
       script(type='text/javascript')
        var session = !{JSON.stringify(session)};
      -else 
       script(type='text/javascript')
        var session = undefined;
    -else
      script(type='text/javascript')
        var session = undefined;
    block header
  body
    div(id="layout", style="width: 95%; height: 640px;")